{% extends "layout_idp.html" %}

{% set idp = data['idpChoice'] %}

{% block page_title %}
  Example without branding
{% endblock %}

{% block body_classes %}idp {{ idp }}{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
    {% include "includes/idp-sidebar.html" %}
		<div class="column-two-thirds">
			<h1 class="heading-large ">Which document would you like to prove your identity with?</h1>
      
      <p>We need proof of who you are, so we need to double check the details of your ID with DVLA, DVA or HM Passports office.</p>      
      
			{{ formData | safe }}

      <div class="column-half">
        <div class="evidence-container">
          <div class="img-container">
            <img src="/public/images/evidence-icons/passport.png" alt="">
          </div>
          <a class="button" href="/idp/passport{{formQuery}}">UK Passport</a>
        </div>
      </div>

      <div class="column-half">
        <div class="evidence-container">
          <div class="img-container">
            <img src="/public/images/evidence-icons/driving-licence.png" alt="">
          </div>
          <a class="button" href="/idp/driving-licence{{formQuery}}">UK Driving licence</a>
        </div>
      </div>

      <div class="column-half">
        <div class="evidence-container">
          <div class="img-container">
            <img src="/public/images/evidence-icons/non-uk-id.png" alt="">
          </div>
          <a class="button" href="/idp/non-uk-passport{{formQuery}}">Non-UK Passport, ID or driving licence</a>
        </div>
      </div>

<!--       <div class="column-half">
        <div class="evidence-container" style="height: 177px">
          <p  style="padding: 10% 0;">I don't have any of these documents with me right now.<br><br><a class="" href="/idp/pause-warning{{formQuery}}">Save and continue later</a></p>
        </div>
      </div> -->


      <details>
        <summary><span class="summary">I don't have any of these documents with me</span></summary>

        <div class="panel panel-border-narrow">
          <p>If you don't have any of these documents with you, you can <a href="/idp/pause-warning{{formQuery}}">save and continue when you have them</a>.
        </div>
      </details>
      
		</div>
	</div>
</main>

{% endblock %}
