{% extends "layout_idp.html" %}

{% set idp = data['idpChoice'] %}

{% block page_title %}
  Example without branding
{% endblock %}

{% block body_classes %}idp {{ idp }}{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large ">Credit or debit card details</h1>

				{{ formData|safe }}

				<form id="main-form" action="/idp/identity-test-intro{{formQuery}}" method="get">


					<div class="form-group"  data-required="Please select your card type">
						<fieldset class="inline">
							<legend class="form-label-bold">Card type</legend>
				      <div class="multiple-choice">
				        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
				        <label for="radio-inline-1">Visa</label>
				      </div>
				      <div class="multiple-choice">
				        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
				        <label for="radio-inline-2">MasterCard</label>
				      </div>
						</fieldset>
					</div>

					<div class="form-group"  data-required="Please enter your card number">
						<label class="form-label-bold">Card number</label>
						<input class="form-control" type="text">
					</div>

					<div class="form-group" data-required="Please enter your card expiry date">
						<legend class="form-label-bold">Expiry date</legend>
						<div class="form-date">
							<div class="form-group form-group-month">
								<label for="dob-month">Month</label>
								<input type="text" class="form-control" id="dob-month">
							</div>
							<div class="form-group form-group-day">
								<label for="dob-year">Year</label>
								<input type="text" class="form-control" id="dob-year">
							</div>
						</div>
					</div>

					<div class="form-group" data-required="Please enter the cardholder's name">
						<label class="form-label-bold">Cardholder's name</label>
						<input class="form-control" type="text">
					</div>

					
					<div class='form-group'>
						<button class="button">
							Continue
						</button>
					</div>
					
					<details>
					  <summary><span class="summary">I don't have my card details with me</span></summary>

					  <div class="panel panel-border-narrow">
							<p>If you don't have your card details with you, you can <a href="/idp/pause-warning{{formQuery}}">save and return when you have them</a>.
						</div>
					</details>


				</form>
				
		</div>
		{% include "includes/idp-sidebar.html" %}
		</div>
	</div>
</main>

{% endblock %}
