{% extends "layout_idp.html" %}

{% set idp = data['idpChoice'] %}

{% block page_title %}
  Example without branding
{% endblock %}

{% block body_classes %}idp {{ idp }}{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
    {% include "includes/idp-sidebar.html" %}
		<div class="column-two-thirds">
			<h1 class="heading-large ">Are you sure you want to save and continue later?</h1>
      
      <p>The details you have already entered will be saved and you can continue your registration at a later time.</p>

      <p>You'll need to remember your username and password when you sign back in to continue.</p>      
      
			{{ formData | safe }}

			<form id="main-form" action="/idp/pause-warning{{formQuery}}&saml=pending" method="post" name="Form">
				<button class="button">Yes, save and return to GOV.UK</button> or <a href="javascript:history.back()">No, continue my verification</a>
			</form>
		</div>
	</div>
</main>

{% endblock %}
