{% extends "layout_slide.html" %}

{% block body_classes %}hub-start{% endblock %}
{% block page_title %}Start - GOV.UK Verify - GOV.UK{% endblock %}

{% block slide_content %}

<form id="start-page-form" class="js-validate" novalidate="novalidate" action="/hub/about-identity-accounts" accept-charset="UTF-8" method="get">

  {{ formData | safe }}

  <p>A certified company verifies your identity. They’ve all met security standards set by government.</p>

  <p>You don’t need to be an existing customer with a company as they've built new, secure systems to verify identities.</p>

  <ul class="list-companies"> 
    <li>
      <img alt="Experian: a world of insight" src="/public/images/idp-logos/white/experian.png">
    </li>
    <li>
      <img alt="Post Office" src="/public/images/idp-logos/white/post-office.png">
    </li>
    <li>
      <img alt="Digidentity" src="/public/images/idp-logos/white/digidentity.png">
    </li>
    <li>
      <img alt="Royal Mail" src="/public/images/idp-logos/white/royal-mail.png">
    </li>
    <li>
      <img alt="CitizenSafe" src="/public/images/idp-logos/white/citizensafe.png">
    </li>
    <li>
      <img alt="Barclays" src="/public/images/idp-logos/white/barclays.png">
    </li>
    <li>
      <img alt="SecureIdentity: by Morpho, leader in government ID" src="/public/images/idp-logos/white/morpho.png">
    </li>
  </ul>
</br>

<p>There’s no charge for this service.</p>

<details role="group">
  <summary role="button" aria-controls="details-content-0" aria-expanded="false">
    <span class="summary">How companies can verify identities</span>
  </summary>

  <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
    <p>These companies can use their own data, and they can access data like credit records.{% if serviceLOA == '2' %} They’re able to check that information from passports and driving licences is correct.{% endif %}</p>
    
    <p>There won’t be any effect on your credit score.</p>

    <p>Certified companies meet government privacy standards, so you can trust them with your personal information. They won’t share or sell your data for any other purposes without your consent.</p>

    <p>More than one certified company means you choose who verifies your identity, and it means the system overall is stronger.</p>
  </div>
</details>

<div class="form-group">
  <div class="actions">
    <input class="button" id="next-button" type="submit" value="Next">
  </div>
</div>
</form>

{% endblock %}
