{% extends "layout_slide.html" %}

{% block body_classes %}hub-start{% endblock %}
{% block page_title %}Start - GOV.UK Verify - GOV.UK{% endblock %}

{% block slide_content %}

<form id="start-page-form" class="js-validate" novalidate="novalidate" action="/hub/choose-a-company?registration=true&user_age=true&user_uk=true&drivingLicence=true&drivingLicenceGB=true&passport=true&mobile=true&apps=true" accept-charset="UTF-8" method="get">

  {{ formData | safe }}

  <p>A certified company will verify your identity.</p>

  <ul class="list-companies">
    <li>
      <img alt="Digidentity" src="/public/images/idp-logos/white/digidentity.png">
    </li>
    <li>
      <img alt="Post Office" src="/public/images/idp-logos/white/post-office.png">
    </li>
  </ul>
</br>

<p>They will never share your information for any other purpose without your consent, and they both meet government privacy and security standards.</p>
</br>

<details role="group">
  <summary role="button" aria-controls="details-content-0" aria-expanded="false">
    <span class="summary">How these companies verify identities</span>
  </summary>

  <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
    <p>These companies can check it’s really you by using their own records, or by accessing information like credit records. If you have a passport or driving licence, they can check that too.</p>
    <p>Verifying your identity will not affect your credit score.</p>
  </div>
</details>

<div class="form-group">
  <div class="actions">
    <input class="button" id="next-button" type="submit" value="Next">
  </div>
</div>
</form>

{% endblock %}
