{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/available-languages.html" %}
  <div class="grid-row">
    {% include "includes/verify-logo.html" %}
    <div class="column-two-thirds">
  		<h1 class="heading-large">
        <span class="heading-secondary">Step 1. Choose the digital identity you want to set up</span>
        Digital Identities </h1>

        <p>You don’t have to be an existing customer as they’ve all built new, secure systems in order to verify identities. The account you choose asks you for some personal details and checks them against records held by mobile phone providers, credit agencies, HM Passport Office or DVLA.</p>

        <p>Because you have a 

        <!-- {% if data['passport'] == 'true' %}
        passport
        {% endif %}
 -->
        [driving licence and a passport], you can set up one of these digital identities:</p>

        {{ formData | safe }}

  		 <div id="company-about">

        {% for idp in available_idps | sort(true, true, 'name') %}
        <div class="idp-choice">

          <div class="company-logo">
            <img alt="" src="/public/images/idp-logos/{{ idp.slug }}.png">

           
          </div>

          <div class="idp-option">

            <div class="button-wrap">
              <form method="POST" action="/hub/redirect-to-idp{{formQuery}}">
                <input type="hidden" name="idpChoice" value="{{idp.slug}}">
                <button class="button">Select {{ idp.accountName }}</button>
              </form>
            </div>
            
          </div>
        </div>
        {% endfor %}
      </div>
  	</div>
  </div>
</main>

{% endblock %}


