{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/available-languages.html" %}
  <div class="grid-row">
    {% include "includes/verify-logo.html" %}
    <div class="column-two-thirds">
  		<h1 class="heading-large">
        <span class="heading-secondary">Step 1. Choose a digital identity</span>
        Digital Identities </h1>

        <p>You don’t have to be an existing customer as they’ve all built new, secure systems in order to verify identities -  you’ll be asked for some personal details that will be checked against records held by {% if data['passport'] == 'true' %}HM Passport Office, {% endif %}{% if data['drivingLicence'] == 'true' %}DVLA, {% endif %}mobile phone providers, banks or credit agencies.</p>

        <p>
          You can set up any of these digital identities because you have:
          <ul class="list list-bullet">
        {% if data['passport'] == 'true' %}
          <li>a passport</li>
        {% endif %}
        {% if data['drivingLicence'] == 'true' %}
          <li>a driving licence</li>
        {% endif %}
        {% if data['non_uk_id'] == 'true' %}
          <li>a non-UK identity document</li>
        {% endif %}
        {% if data['non_uk_id'] == 'true' %}
          <li>a smartphone or tablet</li>
        {% else %}
          <li>a mobile phone</li>
        {% endif %}

        <ul>

      </p>
 

        {{ formData | safe }}

  		 <div id="company-about">

        {% for idp in available_idps | sort(true, true, 'name') %}
        <div class="idp-choice">

          <div class="company-logo">
            <img alt="" src="/public/images/idp-logos/{{ idp.slug }}.png">

           
          </div>

          <div class="idp-option">

            <div class="button-wrap">
              <form method="POST" action="/hub/redirect-to-idp{{formQuery}}">
                <input type="hidden" name="idpChoice" value="{{idp.slug}}">
                <button class="button">Select {{ idp.accountName }}</button>
              </form>
            </div>
            
          </div>
        </div>
        {% endfor %}
      </div>
  	</div>
  </div>
</main>

{% endblock %}


