{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/available-languages.html" %}

  <div class="grid-row">
  {% include "includes/verify-logo.html" %}
    <div class="column-two-thirds">
      <h2 class="heading-large">Who do you have a identity account with?</h2>
      <p class="lede" >If you don’t have a identity account, you can <a href="/hub/slide-all-long{{ formQuery | safe }}&registration=true">set one up now</a>.</p> 
    </div>
  </div>

  			{{ formData|safe }}

  {% if data['idpChoice'] != undefined %}
    <div class="grid-row">
      <div class="column-two-thirds">
        <p>The last certified company used on this device was {{idpName}}.</p>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-one-third">
        <div class="company">
          <div class="company-inner">
            <div class="company-logo">
              <div class="company-logo-inner">
                <img src="/public/images/idp-logos/{{idpSlug}}.png" alt="{{idpName}}">
              </div>
            </div>

            <div class="button-wrap">
              <form method="POST" action="{{idpRoot}}/sign-in{{formQuery}}">
                
                <input type="hidden" name="idpChoice" value="{{idpSlug}}">
                
                <button class="button">Select {{ idpName }}</button>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <p>You can use a identity account you set up with any certified company in the past: </p>
      </div>
    </div>
  {% endif %}


  {% for idp in idps %}
    {% if loop.index0 % 3 == 0 or loop.first %}
      <div class="grid-row">
        {% endif %}

          <div class="column-one-third">
            <div class="company">
              <div class="company-inner">
                <div class="company-logo">
                  <div class="company-logo-inner">
                    <img src="/public/images/idp-logos/{{idp.slug}}.png" alt="{{idp.name}}">
                  </div>
                </div>

                <div class="button-wrap">
                  <form method="POST" action="{{idpRoot}}/sign-in{{formQuery}}">
                    
                    <input type="hidden" name="idpChoice" value="{{idp.slug}}">
                    
                    <button class="button">Select {{ idp.name }}</button>
                  </form>
                </div>

              </div>
            </div>
          </div>

        {% if loop.index0 % 3 == 2 or loop.last %}
      </div>
    {% endif %}
  {% endfor %}
  <p><a href="/hub/forgot-company{{formQuery}}">I can’t remember which company verified me</a></p>
</main>

{% endblock %}


