{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/available-languages.html" %}
  <div class="grid-row">
    {% include "includes/verify-logo.html" %}

    <div class="column-two-thirds">
      <h1 class="heading-large">
        <span class="heading-secondary">Step 2. Confirm your details</span>
        Set up your {{idpAccountName}} digital identity
      </h1>

        <p>We'll now send you to {{idpName}}’s website.</p>

        <p>You’ll need your:</p>
        <ul class="list list-bullet">
          {% if data['passport'] == 'true' %}
            <li>a passport</li>
          {% endif %}
          {% if data['drivingLicence'] == 'true' %}
            <li>a driving licence</li>
          {% endif %}
          {% if data['non_uk_id'] == 'true' %}
            <li>a non-UK identity document</li>
          {% endif %}
          {% if data['non_uk_id'] == 'true' %}
            <li>a smartphone or tablet</li>
          {% else %}
            <li>a mobile phone</li>
          {% endif %}
        </ul>

        <p>When you’ve set up your digital identity, {{idpAccountName}} will send you back to GOV.UK so you can do step 3 – {{serviceNameLower}}.</p>

        <p>In the future you can use your digital identity wherever you see the GOV.UK Verify logo.</p>

        <form action="{{idpRoot}}sign-up{{formQuery}}">

          <div class="form-group">
            <div class="actions">
              <input class="button" id="next-button" type="submit" value="Continue to the {{idpName}} website">
            </div>
          </div>

        </form>

      {% include "includes/idp-and-verify-logos.html" %}

      </div>
  	</div>
  </div>
</main>

{% endblock %}


