{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/available-languages.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
  		<h1 class="heading-large">
        Other identity documents
      </h1>

      <p>You can use identity documents from other countries to set up some digital identities.</p>

      <form action="/hub/choose-a-company{{formQuery}}">
        {{formData | safe}}
        <div class="form-group" data-required="Please answer the question">
          <fieldset class="block">

            <legend class="heading-medium">Do you have a non-UK passport, ID card or driving licence?</legend>

            <div class="multiple-choice" data-target="non-uk-doc">
              <input id="non-uk-id-true" type="radio" name="non_uk_id" value="true">
              <label for="non-uk-id-true">Yes</label>
            </div>

            <div class="multiple-choice" data-target="">
              <input id="non-uk-id-false" type="radio" name="non_uk_id" value="false">
              <label for="non-uk-id-false">No</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="non-uk-doc">
              
              <legend class="heading-small">
                Can you download an app to your smartphone or tablet?
                <span class='form-hint'>You will need to download a free app and use your device's camera to take a photo of your identity document and a selfie.</span>
              </legend>

              <div class="multiple-choice" data-target="">
                <input id="app-true" type="radio" name="app" value="true">
                <label for="app-true">Yes</label>
              </div>

              <div class="multiple-choice" data-target="">
                <input id="app-false" type="radio" name="app" value="false">
                <label for="app-false">No</label>
              </div>
            </div>

          </fieldset>
        </div>

        <input class="button" type="submit" value="Continue">
      </form>
  	</div>
  </div>
</main>

{% endblock %}


