{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/available-languages.html" %}
  
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Prove your identity to continue</h1>

      <p>You’ll need an account to prove your identity and {{serviceNameLower}}.</p>

      {{formData | safe}}

      <form action='/hub/signin-method{{formQuery}}'>
        
        <div class="form-group">
          <fieldset class="block">
  
            <div class="multiple-choice">
              <input id="radio-inline-1" type="radio" name="sign_in" value="gateway">
              <label for="radio-inline-1">
                <span class="label-header">Use Government Gateway</span></br>
                <span class="label-subhead">If you’re setting up an account it will take about 10 minutes. You’ll need your National Insurance number and a recent payslip, P60 or valid UK passport.</span>
              </label>
            </div>
            <div class="multiple-choice">
              <input id="radio-inline-2" type="radio" name="sign_in" value="verify">
              <label for="radio-inline-2">
                <span class='label-header'>Use GOV.UK Verify</span><br>
                <span class="label-subhead">If you’re setting up an account it will take about 15 minutes. You’ll need a UK address and it works best with a valid passport or photocard driving licence.</span>
              </label>
            </div>
          </fieldset>
        </div>

        <button class="button">Continue</button>
      </form>  
        <br>
        <h2 class="heading-small">Use a digital identity from another European country</h2>
        <p>If you are part of an ID scheme in France, the Netherlands, Norway or another participating country you may be able to use it here.</p>
        
        <p><a href="#">Select your European scheme</a></p>

    </div>
  </div>
</main>


<style>

</style>

{% endblock %}


