{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/available-languages.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
			<h1 class="heading-large">Setting up your identity account</h1>

	<p>The 3 steps to setting up your identity account:</p>
	<ul class="list list-number">
		<li class=''>Select the identity account you want use.</li>
		<li class=''>Confirm your details so we can verify your identity.</li>
		<li class=''>Continue to GOV.UK to access {{serviceNameLower}}.</li>
	</ul>
	<p>It’s free, and takes about 15 minutes to get set up.</p>
	
	<p><a href="/hub/setting-up-more-info">Find out more about setting up your identity account</a> or</p>

	<form id="start-page-form" class="js-validate" novalidate="novalidate" action="/hub/select-documents" accept-charset="UTF-8" method="get">

  <div class="form-group">
    <div class="actions">
      <input class="button" id="next-button" type="submit" value="Select your identity account">
    </div>
  </div>
</form>


    </div>
  </div>
</main>



{% endblock %}
