{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/available-languages.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
			<h1 class="heading-large">Setting up your identity account</h1>

			<p>3 steps to set up your identity account:</p>
			<dl class="steps-list">
				<dt>1.</dt>
				<dd>
					<span class="step-heading">Choose the identity account you want to set up.</span>

					<details>
					  <summary><span class="summary">More information</span></summary>
  					<div class="panel panel-border-narrow">
													
						  <p>Each identity account has different requirements, so we’ll ask you some questions so we can list the ones that will work for you. </p>

						  <p>When you choose the identity account you want to set up, we’ll send you to their website.</p>

  					</div>
  				</details>
				</dd>

				<br>
				
				<dt>2.</dt>
				<dd>
					<span class="step-heading">Confirm your details to prove your identity.</span>
					<details>
					  <summary><span class="summary">More information</span></summary>
  					<div class="panel panel-border-narrow">
  						
						  <p>The first first thing you will do is create a username and password. This is so you can reuse your identity account wherever you see the GOV.UK Verify logo.</p>

						  <p>You need to provide some personal details, including identity documents if you have them, and your bank or credit card details. These will be double checked against records held by mobile phone providers, banks and credit agencies, HM Passport Office or DVLA for example.</p>

  					</div>
  				</details>
				</dd>

				<br>
				
				<dt>3.</dt>
				<dd>
					<span class="step-heading">Continue to GOV.UK to {{serviceNameLower}}.</span>
					
					<details>
					  <summary><span class="summary">More information</span></summary>
  					<div class="panel panel-border-narrow">
  						
						  <p>When your identity account is set up, you’ll be sent back to GOV.UK so you can safely and securely {{serviceNameLower}}.</p>

						  <p>You only need to set up one identity account, next time you just sign in with your username and password.</p>

  					</div>
  				</details>

				</dd>
			</dl>

			<p>It’s free and takes about 15 minutes to set up.</p>
			
			<form id="start-page-form" class="js-validate" novalidate="novalidate" action="/hub/select-documents" accept-charset="UTF-8" method="get">

			  <div class="form-group">
			    <div class="actions">
			      <input class="button" id="next-button" type="submit" value="Choose a identity account">
			    </div>
			  </div>
			</form>

 <details role="group">
        <summary role="button" aria-controls="details-content-0" aria-expanded="false">
          <span class="summary">Where can I use my identity account?</span>
        </summary>
        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
          <p>You can use your identity account to:</p>
          <ul class="list list-bullet">
            <li>complete your Self Assessment</li>
            <li>check your State Pension</li>
            <li>sign in to your personal tax account</li>
            <li>view or share your driving licence information</li>
            <li>complete your claim or access your Universal Credit account</li>
            <li>claim your redundancy payment and monies owed</li>
            <li>check your income tax for the current year</li>
            <li>report a medical condition that affects your driving</li>
            <li>renew your short-term medical driving licence</li>
            <li>check or update your company car tax</li>
            <li>use Rural Payments</li>
            <li>help friends and family with their tax</li>
            <li>apply for a vehicle operator licence</li>
            <li>request a basic DBS check</li>
            

          </ul>
        </div>
      </details>
    </div>
  </div>
</main>


{% endblock %}
