{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/available-languages.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Prove your identity to continue</h1>
    </div>
  </div>

  {{ formData|safe }}

  {% if data['idpChoice'] != undefined %}
    <div class="grid-row">
      <div class="column-two-thirds">
        <p>You’ve recently used an {{idpName}} identity account on this device.</p>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="hint-logo">
          <img src="/public/images/idp-logos/{{idpSlug}}.png" alt="{{idpName}}">
        </div>
        <div class="hint-logo">
          <img class="verify-hub-logo" src="/public/images/govuk-verify-small-black-text.png" alt="" style="width:60%" >
        </div>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-two-thirds">
        <form method="POST" action="{{idpRoot}}/sign-in{{formQuery}}">
          <input type="hidden" name="idpChoice" value="{{idpSlug}}">
          <button class="button">Sign in with {{ idpName }}</button>
        </form>
      </div>
    </div>
  {% endif %}
  <br><br>
  <p>
    Not you?
    {% if data['requestId'] == 'dbs' %}
      <a href="/hub/eidas-interstitial">Choose another way to prove your identity</a>
    {% else %}
      <a href="/hub/signin-idp-picker?registration=false">Choose another way to prove your identity</a>
    {% endif %}
    .
  </p>
</main>

{% endblock %}
