{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/available-languages.html" %}
 <div class="grid-row">
    {% include "includes/verify-logo.html" %}
      <div class="column-two-thirds">
        <h2 class="heading-large">Who do you have an identity account with?</h2>
        <p>If you don’t have an identity account, you can <a href="/about{{ formQuery | safe }}&registration=true">create a new one</a>.</p> 
      </div>
    </div>
    {% for idp in idps %}
      {% if loop.index0 % 3 == 0 or loop.first %}
        <div class="grid-row">
          {% endif %}

            <div class="column-one-third">
              <div class="company">
                <div class="company-inner">
                  <div class="company-logo">
                    <div class="company-logo-inner">
                      <img src="/public/images/idp-logos/{{idp.slug}}.png" alt="{{idp.name}}">
                    </div>
                  </div>

                  <div class="button-wrap">
                    <form method="POST" action="{{idpRoot}}/sign-in{{formQuery}}&idp={{idp.slug}}&serviceLOA={{serviceLOA}}">
                      <input type="hidden" name="idpChoice" value="{{idp.slug}}">
                      <button class="button" >Select {{ idp.name }}</button>
                    </form>
                  </div>

                </div>
              </div>
            </div>

          {% if loop.index0 % 3 == 2 or loop.last %}
        </div>
      {% endif %}
    {% endfor %}
    <p><a href="/forgot-company{{formQuery}}">I can’t remember which company verified me</a></p>

  </div>

</main>

{% endblock %}


