{% extends "layout_slide.html" %}

{% block body_classes %}hub-start{% endblock %}
{% block page_title %}Start - GOV.UK Verify - GOV.UK{% endblock %}

{% block slide_content %}

<form id="start-page-form" class="js-validate" novalidate="novalidate" action="/hub/slide-pick-idp" accept-charset="UTF-8" method="get">

  {{ formData | safe }}

	<h1 class="slide-heading">Setting up an online identity</h1>

	<p>You'll need to set up your own online identity so you can safely and securely {{serviceNameLower}}.</p>
	<p>The setting up your online identity takes 4 steps:</p>
	<ul class="list list-number">
		<li>Pick which online identity you want to create</li>
		<li>Create your online identity with the provider</li>
		<li>Confirm your idenity</li>
		<li>Continue to your service</li>
	</ul>
	<p>You'll need about 15 minutes to get set up.<!--  up but then you'll have an account that can securely access a range of govenment services --></p>

    <details role="group">
    <summary role="button" aria-controls="details-content-0" aria-expanded="false">
      <span class="summary">More about setting up an online idenity</span>
    </summary>
    <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
    </div>
  </details>

	
  <div class="form-group">
    <div class="actions">
      <input class="button" id="next-button" type="submit" value="Set up your online identity">
    </div>
  </div>
<!--   <div class="form-group">
    <div class="actions">
      <input class="button" id="next-button" type="submit" value="Pick an online identity provider">
      <span style="display:inline-block; margin-top: 10px; padding-left: 5px;"> or <a href="#">find out more</a></span>
    </div>
  </div> -->
</form>

{% endblock %}
