{% extends "layout_slide.html" %}

{% block body_classes %}hub-start{% endblock %}
{% block page_title %}Start - GOV.UK Verify - GOV.UK{% endblock %}

{% block slide_content %}

<form id="start-page-form" class="js-validate" novalidate="novalidate" action="/hub/slide-pick-idp" accept-charset="UTF-8" method="get">

  {{ formData | safe }}

	<h1 class="slide-heading">Setting up an online identity</h1>

	<p>You'll need to set up your own online identity so you can safely and securely {{serviceNameLower}}.</p>
	<p>The setting up your online identity takes 4 steps:</p>
	<ul class="list list-number steps">
		<li>
			<span class='step-heading'>Pick which online identity you want to create</span>
			<p>You have a choice of online identities that are certified to sign you in to Government services, it's your choice you you sign up with.</p>
		</li>
		<li>
			<span class='step-heading'>Create your online identity with the provider</span>
			<p>You'll create your online identity which you can then use every time you sign in to number of Government services.</p>
		</li>
		<li>
			<span class='step-heading'>Confirm your idenity</span>
			<p>You'll need to provide some documents that will be double checked with the agency that provided them to you.</p>
		</li>
		<li>
			<span class='step-heading'>Continue to your service</span>
			<p>You can then access the service safely and securely when we are sure that you are you you say you are.</p>
		</li>
	</ul>
	<p>You'll need about 15 minutes to get set up.<!--  up but then you'll have an account that can securely access a range of govenment services --></p>


	
  <div class="form-group">
    <div class="actions">
      <input class="button" id="next-button" type="submit" value="Set up your online identity">
    </div>
  </div>
<!--   <div class="form-group">
    <div class="actions">
      <input class="button" id="next-button" type="submit" value="Pick an online identity provider">
      <span style="display:inline-block; margin-top: 10px; padding-left: 5px;"> or <a href="#">find out more</a></span>
    </div>
  </div> -->
</form>

<style>
	.step-heading {
		font-weight: bold;
	}
	.steps li details {
		font-size: 16px;
		font-weight: lighter;
	}
</style>

{% endblock %}
