{% extends "layout_slide.html" %}

{% block body_classes %}hub-start{% endblock %}
{% block page_title %}Start - GOV.UK Verify - GOV.UK{% endblock %}

{% block slide_content %}

<form id="start-page-form" class="js-validate" novalidate="novalidate" action="/hub/slide-pick-idp" accept-charset="UTF-8" method="get">

  {{ formData | safe }}

	<h1 class="slide-heading">Setting up an online identity</h1>

	<p>You'll need to set up your own online identity so you can safely and securely {{serviceNameLower}}.</p>

  <!-- <p>It helps prevent other people from pretending to be you and allows you to quickly and safely access services across GOV.UK.</p> -->

	<p>The whole process takes 4 steps, and about 15 minutes to complete.</p>

  <details role="group">
    <summary role="button" aria-controls="details-content-0" aria-expanded="false">
      <span class="summary">More about online identities</span>
    </summary>
    <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
    </div>
  </details>

  <div class="form-group">
    <div class="actions">
      <input class="button" id="next-button" type="submit" value="How to set up an online identity">
    </div>
  </div>
</form>

{% endblock %}
