{% extends "layout_slide.html" %}

{% block body_classes %}hub-start{% endblock %}
{% block page_title %}Start - GOV.UK Verify - GOV.UK{% endblock %}

{% block slide_content %}

<form id="start-page-form" class="js-validate" novalidate="novalidate" action="/hub/select-documents" accept-charset="UTF-8" method="get">

  {{ formData | safe }}

	<h1 class="slide-heading">4. Access the service</h1>

  <p>Once you've confirmed your identity, you'll be able to safely and securely {{serviceNameLower}}.</p>

  <p>You'll only need to do this once, as next time you'll be able to sign in quickly with the username and password you created with your identity account/</p>

  <details role="group">
    <summary role="button" aria-controls="details-content-0" aria-expanded="false">
      <span class="summary">Dropdown?</span>
    </summary>
    <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
    </div>
  </details>

  <div class="form-group">
    <div class="actions">
      <input class="button" id="next-button" type="submit" value="Create your identity account">
    </div>
  </div>
</form>

{% endblock %}
