{% extends "layout_slide.html" %}

{% block body_classes %}hub-start{% endblock %}
{% block page_title %}Start - GOV.UK Verify - GOV.UK{% endblock %}

{% block slide_content %}

<form id="start-page-form" class="js-validate" novalidate="novalidate" action="/hub/select-documents" accept-charset="UTF-8" method="get">

  {{ formData | safe }}

	<h1 class="slide-heading">Setting up an online identity</h1>

	<p>You'll need to set up your own online identity so you can safely and securely {{serviceNameLower}}.</p>
	<p>The setting up your online identity takes 4 steps:</p>
	<ul class="list list-number">
		<li>Pick which online identity you want to create</li>
		<li>Create your online identity with the provider</li>
		<li>Confirm your idenity</li>
		<li>Continue to your service</li>
	</ul>
	<p>You'll need about 15 minutes to get set up.<!--  up but then you'll have an account that can securely access a range of govenment services --></p>

  <div class="form-group">
    <div class="actions">
      <input class="button" id="next-button" type="submit" value="Pick an online identity provider">
      <span style="display:inline-block; margin-top: 5px; padding-left: 5px; font-size: 24px"> or <a href="/hub/slide-pick-idp">find out more</a></span>
    </div>
  </div>
</form>

{% endblock %}
