{% extends "layout_slide.html" %}

{% block body_classes %}hub-start{% endblock %}
{% block page_title %}Start - GOV.UK Verify - GOV.UK{% endblock %}

{% block slide_content %}

<form id="start-page-form" class="js-validate" novalidate="novalidate" action="/hub/slide-create-account" accept-charset="UTF-8" method="get">

  {{ formData | safe }}

	<h1 class="slide-heading">1. Pick which online identity you want to use</h1>

  <p>We'll ask you some questions to work out which will work best for you – you'll then get a choice of which one to use.</p>
  <p>Its free to use and you don't need to be a customer of the company that provides the account.</p>

    <details role="group">
    <summary role="button" aria-controls="details-content-0" aria-expanded="false">
      <span class="summary">Why you need to pick an online idenity</span>
    </summary>
    <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
    </div>
  </details>

  <div class="form-group">
    <div class="actions">
      <input class="button" id="next-button" type="submit" value="About creating your online identity">
    </div>
  </div>
</form>

{% endblock %}
