{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/available-languages.html" %}

    <div class="grid-row">
      <div class="column-quarter">.</div>
        <div class="column-one-half sign-in-container" style="">
              
          <h1 class="heading-large">
           Sign in with your<br>identity account
          </h1>

          <p>Set up an identity account with a certified company so you can securely sign in to check your State Pension</p>

          <form id="" class="js-validate" novalidate="novalidate" action="/hub/slide-about{{formQuery}}" accept-charset="UTF-8" method="get">
            {{formData | safe}}
            <input class="button" id="next-button" type="submit" value="Set up an identity account">
          </form>
          <br>
          <p>or</p>

          <p>Sign in with an identity account that you set up with a certified company in the past.</p>

          {{formData | safe}}
          
          <div class="idp-list-container">
            <ul class="list ">
            {% for idp in idps %}
              <li class="idp-links">
                <div class="button-wrap">
                  <form method="POST" action="{{idpRoot}}/{{ idp.slug }}/sign-in{{formQuery}}&idp={{idp.slug}}&serviceLOA={{serviceLOA}}">
                    <input type="hidden" name="password" value="jolly-roger">
                    <div class="idp-icon-container">
                      <img src="/public/images/idp-icons/{{idp.slug}}.png" class="idp-icon">
                    </div>

                    <button class="button-link" >{{ idp.name }}</button>
                  </form>
                </div>
              </li>    
            {% endfor %}
            </ul>
          </div>

          <br>
          <br>
          <p style="text-align: left;">UK government trusts these certified companies as they are part of GOV.UK Verify.</p>
          <img src="/public/images/verify-certified-badge.svg" width="75%" class="">
          <br>
          <br>
          <details  style="">
            <summary><span class="summary">What is GOV.UK Verify?</span></summary>
            <div class="" style="text-align: left;">
              <p>GOV.UK Verify is designed by the UK government to fight the growing problem of online identity theft.</p>

              <p>Companies apply to be part of GOV.UK Verify. They are certified when they meet security and privacy standards set by government so you can trust them with your personal information.</p>

              <p>When a government service uses GOV.UK Verify, you can access the service with the identity account you set up with the certified company.
              </p>

            </div>
          </details>
    </div>
  </div>

</main>

<style type="text/css">


</style>


{% endblock %}


