{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/available-languages.html" %}
  <div class="grid-row">
    {% include "includes/verify-logo.html" %}

    <div class="column-two-thirds">
      <h1 class="heading-large">
        Continue verifying with {{idpName}}
      </h1>
      {% include "includes/idp-and-verify-logos.html" %}

      <p>In order to continue your verification, pick the service you need to access below and you can continue.</p>

      <ul class="list ">
        <h2 class="heading-small">Benefits</h2>
        <li><a href="/hub/verify-signin-picker?requestId=universal-credit">complete your claim or access your Universal Credit account</a></li>
        <h2 class="heading-small">Business and self-employed</h2>
        <li><a href="/hub/verify-signin-picker?requestId=">check or update your company car tax</a></li>
        <li><a href="/hub/verify-signin-picker?requestId=">use Rural Payments</a></li>
        <h2 class="heading-small">Driving and transport</h2>
        <li><a href="/hub/verify-signin-picker?requestId=">apply for a vehicle operator licence</a></li>
        <li><a href="/hub/verify-signin-picker?requestId=">renew your short-term medical driving licence</a></li>
        <li><a href="/hub/verify-signin-picker?requestId=">report a medical condition that affects your driving</a></li>
        <li><a href="/hub/verify-signin-picker?requestId=view-share-driving-licence">view or share your driving licence information</a></li>
        <h2 class="heading-small">Employing people</h2>
        <li><a href="/hub/verify-signin-picker?requestId=">apply for a DBS basic check</a></li>
        <h2 class="heading-small">Money and tax</h2>
        <li><a href="/hub/verify-signin-picker?requestId=">check your income tax for the current year</a></li>
        <li><a href="/hub/verify-signin-picker?requestId=">claim your redundancy payment and monies owed</a></li>
        <li><a href="/hub/verify-signin-picker?requestId=">complete your Self Assessment</a></li>
        <li><a href="/hub/verify-signin-picker?requestId=">help friends and family with their tax</a></li>
        <li><a href="/hub/verify-signin-picker?requestId=personal-tax-account">sign in to your personal tax account</a></li>
        <h2 class="heading-small">Working, jobs and pensions</h2>
        <li><a href="/hub/verify-signin-picker?requestId=check-state-pension">check your State Pension</a></li>
        <li><a href="/hub/verify-signin-picker?requestId=get-state-pension">get your State Pension</a></li>
      </ul>

      <p>When you’re ready you can <a href='/hub/idp-reminder{{formQuery}}'>continue verifying your identity and securely access {{serviceNameLower}}</a>.</p>


      </div>
  	</div>
  </div>
</main>

{% endblock %}


