{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/available-languages.html" %}
  <div class="grid-row">
    {% include "includes/verify-logo.html" %}

    <div class="column-two-thirds">
      <h1 class="heading-large">
        Your {{idpName}} identity account has been saved
      </h1>

      <p>To return later you can:</p>
      
      <ul class="list list-bullet">
        <li>go back to <a href="{{serviceStartURL">{{serviceNameLower}}</a> and sign back in.</li>
        <li>use the link in your email from {{idpName}}</li>
        <li>bookmark this page</li>
      </ul>

      <p>You’ll need the email and password you used to create an account with {{idpName}}.</p>

      <p><a class="button" href='/hub/idp-reminder{{formQuery}}'>Continue verifying with {{idpName}}</a></p>

      <p>or <a href="{{serviceStartURL}}">return to {{serviceNameLower}}</a></p>

      {% include "includes/idp-and-verify-logos.html" %}


  	</div>
  </div>
</main>

{% endblock %}


