{% extends "layout_slide.html" %}

{% block body_classes %}hub-start{% endblock %}
{% block page_title %}Start - GOV.UK Verify - GOV.UK{% endblock %}

{% block slide_content %}

  {{ formData | safe }}

  <h1>{{idpName}} has verified your identity</h1>


  <p>You can sing in wherever you see the GOV.UK Verify logo with your {{idpName}} identity account username and password.</p>

	<p>You can now you can continue to {{serviceNameLower}}.</p>

<form id="start-page-form" class="js-validate" novalidate="novalidate" action="/hub/third-cycle-matching{{formQuery}}" accept-charset="UTF-8" method="get">
  <div class="form-group">
    <div class="actions">
      <input class="button" id="next-button" type="submit" value="Continue">
    </div>
  </div>
</form>
</form>

{% endblock %}




