{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/available-languages.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">{{serviceName}}</h1>

      <p>Use this service to find out how much State Pension you could get when you reach State Pension age.</p>

      <p>The amount is based on an estimate of what your National Insurance record could be when you reach State Pension age.</p>

      <p>You’ll also get information about how to increase your State Pension, if you can.</p>

      <p>You can only use this service if you’re under State Pension age.</p>

      <div class="sign-in-wrap">
        <div class="button-wrap">
          <a class="button button-start" href="/hub/interstitial">
            <strong>Start now</strong>
          </a>
        </div>
      </div>

      <h2 class="heading-medium">Other ways to apply</h2>

      {{serviceOtherWays | safe}}

    </div>
  </div>
</main>



{% endblock %}
