{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/available-languages.html" %}
  <div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">Validating your identity</h1>


        <p>Before getting a criminal record check you need to validate your identity. You can do this online for free using GOV.UK Verify or a digital identity from another European country.</p>

          <div class="form-group">
            <fieldset>
              <div class="multiple-choice">
                <input id="radio-2" type="checkbox" name="radio-group" value="agree1">
                <label for="radio-2">I agree to the Basic DBS Check Service using my name, date of birth and address provided by my digital identity</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-3" type="checkbox" name="radio-group" value="agree2">
                <label for="radio-3">I have read and understood the basic DBS check online application <a href='#'>privacy policy</a> (opens in a new tab), which explains how the DBS will process my personal data when I'm applying online, before my application has been submitted</label>
              </div>

            </fieldset>
          </div>


          <div class="sign-in-wrap">
            <div class="button-wrap">
              {% if data['userHasIdpAccount'] == 'true' %}
                <a class="button" href="/hub/sign-in-hint">
              {% else %}
                <a class="button" href="/hub/sign-in-hint?idpChoice=digidentity">
              {% endif %}
                <!-- /hub/verify-signin-picker{{formQuery}} -->
                <strong>Continue</strong>
              </a>
            </div>
          </div>
        </form>


        <br>
        <div class="form-group">
          <details>
            <summary class="help-text-link">
              <span class="summary">Other ways to apply</span>
            </summary>
            <div class="panel panel-border-narrow" data-dbs-id="help-text-text">


                  <p>If you cannot validate your identity online, you can continue to apply. You still need your financial and identity documents to hand.</p>
              <p>But you'll also need to go to a UK post office in person after completing your application.</p>
              <p>You'll have 14 days to take your identity documents to a UK post office that offers the DBS ID validation service.</p>
              <p>We'll only start processing your application after you've validated your identity at a UK post office.</p>

              <p><a href="/post-office/po-intro">Continue to application without using a digital identity</a></p>


            </div>
          </details>
        </div>



            </div>
    </div>
  </div>
</main>



{% endblock %}
