{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/available-languages.html" %}
  <div class="grid-row">  
    <div class="column-two-thirds">    
        
      <h1 class="heading-large">{{serviceName}}</h1>

      <article>
        <h2 class="heading-medium">Your old driving licence</h2>

        <p>Please enter the number of the driving licence you want to renew. You'll need to send it to us to be cancelled.</p>

        <form action="" class="form">

          <div class="form-group">
            <label class="form-label">Driving licence number</label>
            <input class="form-control" type="text">
          </div>

          <div class="actions">
            <button class="button">Next</button>
          </div>

          <details>
            <summary aria-controls="details-content-0" tabindex="0">
              <span class="summary">My driving licence is lost or stolen</span>
            </summary>

          <div class="panel panel-indent" id="details-content-0" aria-expanded="false" >

            <p>If you don't have your old driving licence you must <a href="#">report it lost or stolen</a>.</p>

            <p>The Lost and Stolen driving licence service will give you an LS reference number you can use to renew your driving licence.</p>

            <p><a href="#">I've already reported my old driving licence lost or stolen</a></p>
          </div>
        </details>

        </form>
      </article>
    </div>
  </div>
</main>



{% endblock %}


