{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    {{ formData | safe }}
    <form method="POST" action="hub/slide-start{{formQuery}}">

      <div class="column-half">
        <h1 class="heading-large">GOV.UK Verify prototype</h1>
        <br>
        <div class="button-wrap">
          <ul class="start-button-list">
            <li><input type="submit" formaction="/service/dbs-start?requestId=dbs" value="Start now" class="button button-start" id="next-button"></li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</main>

{% endblock %}
