// Hub sign in pattern

// Company
// Used the sign-in page
// =====================

.company-wrapper {
  &.clear-left {
    clear: left;
  }
}

.company {
  border-bottom: 1px solid $border-colour;
  text-align: center;

  @include media (tablet) {
    border: 5px solid $panel-colour;
    margin-bottom: 30px;
  }
}

.company.no-underline {
  border-bottom: none;
  padding-bottom: 30px;

  @include media (tablet) {
    border: 5px solid $panel-colour;
    margin-bottom: 30px;
  }
}

.company-inner {
  padding: 5px 0 18px;

  @include media (tablet) {
    padding: 20px;
  }
}


.company-logo {
  position: relative;
  width: 50%;
  padding-bottom: 25%;
  margin: 0 auto 15px;

  @include media (tablet) {
    margin: 0 auto 15px;
    width: 80%;
    padding-bottom: 40%;
  }
}

.company-logo-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.company-logo-inner img {
  max-width: 100%;
}

.company .button {
  margin: 0 0 20px;
}

.company dialog .button {
  margin: 0 0 15px;
}

.company-about {
  @include core-16;
  margin-bottom: 0;
}

.hint-logo{
  width: 45%;
  margin-right: 4%;
  margin-bottom: 25px;
  padding-right: 1.5em;
  display: inline-block;
  box-sizing: border-box;
}

.hint-logo:first-child{
  border-right: 3px solid #dee0e2;
}

.hint-logo img{
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
}

.idp-choice {
  padding: 15px 0;
  border-bottom: 1px solid $grey-1;
  @extend %contain-floats;

  .company-logo {
    width: auto;
    padding: 0;
    text-align: center;

    img {
      width: 67.5%;
    }
  }

  @include media (tablet) {
    padding-left: 230px;
    min-height: 96px;
    position: relative;

    .company-logo {
      position: absolute;
      left: 0;
      right: auto;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 200px;
      height: 96px;

      @include ie-lte(7) {
        top: 15px;
      }
    }
  }

  .idp-option {
    text-align: center;
    display: inline-block;
    .phone-prefer-not {
      margin-top: 40px;
      display: inline-block;

    }
    @include media (tablet) {
      text-align: left;
    }

    .button,
    .button-link {
      text-align: center;

      margin-top: 30px;

      @include media (tablet) {
        min-width: 230px;

        @include ie(7) {
          min-width: 260px;
        }

        @include ie(6) {
          width: 260px;
        }
      }
    }
  }
}
